ansible_ssh_common_args: "-o StrictHostKeyChecking=no"
ansible_ssh_timeout: 600
ansible_ssh_retries: 10

instance_class: "{{ instance_type.split('.')[0] }}"
instance_size: "{{ instance_type.split('.')[1][:-1] }}"
gpu_count: "{{ instance_size }}"
disk_count: 0