[Unit]
Description=raid0
After=raid0.service

[Mount]
What=/dev/md/ephemeral
Where={{ raid0_mount_path }}
Type=ext4
Options=defaults

[Install]
WantedBy=multi-user.target
