all:
    vars:
%{ if slurm_users != null && length(slurm_users) > 0 }
        slurm_users:
%{ for slurm_user in slurm_users ~}
            - name: ${slurm_user.name}
              uid: ${slurm_user.uid}
              ssh_pubkey: ${slurm_user.ssh_pubkey}
%{ endfor ~}
%{ endif }
    children:
        slurm_head_nodes:
            hosts:
%{ for slurm_head_node in slurm_head_nodes ~}
                ${slurm_head_node.name}:
                    ansible_host: ${slurm_head_node.network_interfaces[0].public_ipv4.address}
                    instance_type: ${slurm_head_node.type}
%{ endfor ~}
        slurm_compute_nodes:
            hosts:
%{ for slurm_compute_node in slurm_compute_nodes ~}
                ${slurm_compute_node.name}:
                    ansible_host: ${slurm_compute_node.network_interfaces[0].public_ipv4.address}
                    instance_type: ${slurm_compute_node.type}
%{ endfor ~}
        slurm_login_nodes:
            hosts:
%{ for slurm_login_node in slurm_login_nodes ~}
                ${slurm_login_node.name}:
                    ansible_host: ${slurm_login_node.network_interfaces[0].public_ipv4.address}
                    instance_type: ${slurm_login_node.type}
%{ endfor ~}
        slurm_nfs_nodes:
            hosts:
%{ for slurm_nfs_node in slurm_nfs_nodes ~}
                ${slurm_nfs_node.name}:
                    ansible_host: ${slurm_nfs_node.network_interfaces[0].public_ipv4.address}
                    instance_type: ${slurm_nfs_node.type}
%{ endfor ~}
