- name: Set hostname
  hosts: all
  remote_user: ubuntu
  become: true
  roles:
    - hostname

- name: Configure NFS nodes
  hosts: slurm_nfs_nodes
  remote_user: ubuntu
  become: true
  roles:
    - slurm_nfs_node

- name: Configure head nodes
  hosts: slurm_head_nodes
  remote_user: ubuntu
  become: true
  roles:
    - slurm_head_node
    - { role: observability,
        tags: ['observability'],
        when: enable_observability | default(false) | bool }

- name: Configure compute nodes
  hosts: slurm_compute_nodes
  remote_user: ubuntu
  become: true
  roles:
    - slurm_compute_node
    - { role: observability,
        tags: ['observability'],
        observability_prometheus_server: false,
        when: enable_observability | default(false) | bool }

- hosts: all
  remote_user: ubuntu
  become: true
  tasks:
    - name: "Add users"
      ansible.builtin.include_role:
        name: user
      vars:
        user_name: "{{ item.name }}"
        user_uid: "{{ item.uid }}"
        user_ssh_pubkey: "{{ item.ssh_pubkey }}"
      loop: "{{ slurm_users | from_json }}"
      when: slurm_users is defined
