- name: Configure autofs
  ansible.builtin.import_role:
    name: autofs

- name: Install dependencies
  ansible.builtin.apt:
    name: nfs-common

- name: Mount /scratch/local
  ansible.builtin.import_role:
    name: raid0
  vars:
    raid0_mount_path: /scratch/local
  when: (disk_count | int) > 0

- name: Mount /scratch/shared
  ansible.posix.mount:
    src: "slurm-nfs-node-0:/scratch/shared"
    path: /scratch/shared
    opts: rw,sync,soft
    state: mounted
    fstype: nfs
  when: "{{ (hostvars['slurm-nfs-node-0'].disk_count | int) > 0 }}"

- name: Install override.conf
  ansible.builtin.template:
    src: override.conf
    dest: /etc/systemd/system/slurmd.service.d/override.conf
    owner: root
    group: root
    mode: '0755'

- name: Restart slurmd
  ansible.builtin.systemd_service:
    name: slurmd
    state: restarted
    enabled: true
    daemon_reload: true

- name: Mount all volumes
  ansible.posix.mount:
    src: "{{ item.name }}"
    path: "{{ item.mount_point }}"
    opts: rw,nofail
    state: mounted
    fstype: virtiofs
  loop: "{{ volumes | from_json }}"
